<div class="row">
	<div class="large-12 columns">
		<h2><a id='title' href="/#/">FaFaFa</a></h2>
	</div>
</div>
<div class="row" id="header-subtitle" ng-controller="Header">
	<div class="large-6 columns">
		<p>Flask // Angular // Foundation // Ansible // Facebook // Alembic</p>
	</div>
	<div class="large-6 columns" id="account-header">
		<p ng-hide="user"><a href="/#/login">Sign Up // Log In</a></p>
		<p ng-show="user"><a href="/#/profile">{{user.username}}</a></p>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div style="width: {{progress}}%" ng-class="{'progress-bar': true, active: progress != 100}"></div>
	</div>
</div>