#token {
  display: none; }

#account-header {
  text-align: right; }

.progress-bar {
  height: 2px;
  background-color: #e9e9e9;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .progress-bar .active {
    color: #2ba6cb;
    background-color: #2ba6cb;
    box-shadow: 0 0 10px 0; }
