<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" ng-app="app"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="app"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FaFaFa</title>

  <link rel="stylesheet" href="/static/foundation/css/foundation.css">
  <link rel="stylesheet" href="/static/css/app.css">
  <script src="/static/foundation/js/vendor/custom.modernizr.js"></script>

</head>
<body>
  <div id='fb-root'></div>

  <ng-include id="header" src="'/static/partials/header.html'"></ng-include>
  <ng-view></ng-view>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
  
  <script>
  document.write('<script src=/static/foundation/js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>

  {% assets filter="jsmin", output="gen/packed.js",
      "foundation/js/foundation.min.js", "js/app.js", "js/services.js", "js/controllers.js", "js/filters.js", "js/directives.js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  
  <script>
    $(document).foundation();
  </script>

  <script>
    app.run(function($rootScope, $http) {
      $rootScope.user = {{user|tojson|safe}};
      $http.defaults.headers.post.token = "{{token}}";
    });
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45881225-1', 'fafafa.co');
    ga('send', 'pageview');

  </script>
</body>
</html>
